<!DOCTYPE html>
<html>

<head>
    <title>Ingresar Mensajes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="bg-dark text-light">
    <div class="container">
        <h1>Ingrese su Consulta</h1>
        <form th:object="${chatEntity}" th:action="@{/guardarMensaje}" method="post">
            <div class="form-group">
                <label for="asunto">Asunto:</label>
                <input type="text" class="form-control" id="asunto" th:field="*{asunto}"
                    placeholder="Ingrese el asunto">
            </div>
            <div class="form-group">
                <label for="contenido">Contenido:</label>
                <textarea class="form-control" id="contenido" th:field="*{contenido}" rows="3"
                    placeholder="Ingrese el contenido"></textarea>
            </div>

            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select class="form-control" id="categoria" th:field="*{categoria}">
                    <option th:each="categoria : ${listCategorias}" th:value="${categoria.id}"
                        th:text="${categoria.nombre}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>